<IfModule mod_rewrite.c>

	<Files .htaccess>
		order allow,deny
		deny from all
	</Files>
	
# For security reasons, Option followsymlinks cannot be overridden.
#	Options -Indexes +FollowSymLinks
	Options -Indexes +SymLinksIfOwnerMatch
	
	RewriteEngine On

	#RewriteOptions Inherit
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	
	#RewriteCond %{HTTP_HOST} !^www\.dominio\.com\.br$
	#RewriteRule ^(.*)$ http://www.dominio.com.br/ [R=301]
	#RewriteRule ^(.*)$ index.php?a=$1 [L]
	
	#RewriteBase /
	#RewriteRule (.*) index.php?a=$1 [L,QSA]	

</IfModule>

<IfModule mod_php4.c>
	php_value zlib.output_compression 16386
</IfModule>

<IfModule mod_headers.c>
	
</IfModule>
	
<IfModule mod_deflate.c>

	AddOutputFilterByType DEFLATE text/html text/plain text/css application/json
	AddOutputFilterByType DEFLATE text/javascript application/javascript application/x-javascript
	AddOutputFilterByType DEFLATE text/xml application/xml text/x-component
	
	<FilesMatch ".(ttf|otf|eot|svg)$" >
		SetOutputFilter DEFLATE
	</FilesMatch>

</IfModule>

<IfModule mod_headers.c>
	Header unset Server  
	Header unset ETag
	Header append Vary User-Agent
	Header set Cache-Control "public"
	FileETag none
	#Header unset X-Powered-By 
	Header set X-UA-Compatible "IE=Edge,chrome=1"
	<FilesMatch "\.(js|css|gif|png|jpeg|jpg|pdf|xml|oga|ogg|m4a|ogv|mp4|m4v|webm|svg|svgz|eot|ttf|otf|woff|ico|webp|appcache|manifest|htc|crx|oex|xpi|safariextz|vcf)$" >
		Header unset X-UA-Compatible
	</FilesMatch> 

	DefaultLanguage pt-BR
	SetEnv TZ America/Sao_Paulo
	ServerSignature Off

	AddDefaultCharset utf-8
	AddCharset utf-8 .html .css .js .xml .json .rss

</IfModule>

<IfModule mod_expires.c>

	ExpiresActive on
	ExpiresDefault "access plus 1 month"
	ExpiresByType text/cache-manifest "access plus 0 seconds"
	
	ExpiresByType text/html "access plus 0 seconds"
	
	ExpiresByType text/xml "access plus 0 seconds"
	ExpiresByType application/xml "access plus 0 seconds"
	ExpiresByType application/json "access plus 0 seconds"
	
	ExpiresByType application/rss+xml "access plus 1 hour"
	ExpiresByType application/atom+xml "access plus 1 hour"
	
	ExpiresByType image/x-icon "access plus 1 week"
	ExpiresByType image/gif "access plus 1 month"
	ExpiresByType image/png "access plus 1 month"
	ExpiresByType image/jpg "access plus 1 month"
	ExpiresByType image/jpeg "access plus 1 month"
	ExpiresByType video/ogg "access plus 1 month"
	ExpiresByType audio/ogg "access plus 1 month"
	ExpiresByType video/mp4 "access plus 1 month"
	ExpiresByType video/webm "access plus 1 month"
	
	ExpiresByType text/x-component "access plus 1 month"
	
	ExpiresByType application/x-font-ttf "access plus 1 month"
	ExpiresByType font/opentype "access plus 1 month"
	ExpiresByType application/x-font-woff "access plus 1 month"
	ExpiresByType image/svg+xml "access plus 1 month"
	ExpiresByType application/vnd.ms-fontobject "access plus 1 month"
	
	ExpiresByType text/css "access plus 1 year"
	ExpiresByType application/javascript "access plus 1 year"
	ExpiresByType application/x-javascript  "access plus 1 year"	
</IfModule>
